{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}{{ account_ledger.description }}{% endblock %}</h1>
{% endblock %}

{% block content %}
    <table>
        <thead>
            <tr>
                <th rowspan="2">Б/сч</th>
                <th colspan="2">ВХОДЯЩЕЕ САЛЬДО</th>
                <th colspan="2">ОБОРОТЫ</th>
                <th colspan="2">ИСХОДЯЩЕЕ САЛЬДО</th>
            </tr>
            <tr>
                <th>Актив</th>
                <th>Пассив</th>
                <th>Дебет</th>
                <th>Кредит</th>
                <th>Актив</th>
                <th>Пассив</th>
            </tr>
        </thead>
        <tbody>
            {% for row in data %}
                <tr>
                    <td style="text-align: center">{{ forloop.counter }}</td>
                    <td><a href="{{ row.long_url }}" class="link">{{ row.description }}</a></td>
                    <td>{{ path }}{{ row.short_url }}</td>
                    <td style="text-align: center">{{ row.clicks }}</td>
                    <td>{{ row.created }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}