<!doctype html>
<style>
    @import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&display=swap");
</style>
{% load static %}

<title>{% block title %}{% endblock %} - Accounting Ledger</title>

<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">

<!-- links to log in/ register -->
<nav>
  <h1><a href="{% url 'upload_file' %}">Оборотная ведомость по балансовым счетам</a></h1>
  <ul>
      <li><a href="{% url 'view_files' %}" class="button">Все файлы</a>
      <li><a href="{% url 'upload_file' %}" class="link">Добавить файл</a>
  </ul>
</nav>

<hr>

<section class="content">
  <header>
    {% block header %}{% endblock %}
  </header>

  {% block content %}{% endblock %}
</section>